
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Autour+One&family=Creepster&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color : hsl(0, 0%, 100%);
    --line-color : hsla(0, 0%, 50%, 0.453);
    --background-color : #403838
}

*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family: Roboto, Arial;
    width : 100%;
    background-color: #403838;
    color : var(--color);
    fill : var(--color)
}
main{
    display : grid;
    grid-template-columns: 20% 1fr;
    min-height : 100vh;
}
.container{
    border-right : 2px solid hsla(0, 0%, 50%, 0.453);
}

.heading{
    margin-top: 1rem;
    padding : 0.5rem 1.5rem;
}
.task > div, .projects > div{
    display : flex;
    gap : .5rem;
    align-items : center;
    padding : 0.5rem 1rem;
    margin : 0 0.5rem;
}
.sub-task, .add-project-btn, .projects > div, .projects p, .projects svg, .add-task{
    cursor : pointer;
    transition : scale 250ms ease-in;
}
.project-heading, .projects > div {
    justify-content: space-between; 
}

.add-project-btn:active, .add-project-btn:hover, .sub-task:active, .sub-task:hover, .projects svg:active, .projects p:active, .projects p:hover, .projects svg:hover, .add-task:active, .add-task:hover{
    scale : 1.15;
}
.projects > div{
    color : #eee3e3;
}

.projects > div:hover{
    background-color : #dedfe11c;
}

hr{
    border : 1px solid var(--line-color);
    width : 100%;
    margin-bottom : 1rem;
}
.wrapper{
    padding: 1rem;
    position : relative; 
}

.svg-wrapper{
    margin : 4rem;
    cursor : pointer;
    position : absolute;
    bottom : 0;
    right : 0;

}
.add-task{
    display: none;
}

.wrapper-heading{
    text-align: center;
    color : #f0dee3;
    margin-bottom : 1rem;
}

h2{
    text-align : center;
    margin-top : 1.5rem;
    color : #bffcfa
}
.low{
    background-color : #f9f871;
}

.medium {
    background-color : #ff7083;
}
.high{
    background-color: #00c9cb;
}

button{
    font-weight: bold;
    padding : 0.5rem;
    
}
.todo button{
    border : none;
    pointer-events: none;
    border-radius: 2px;
}
.todo{
   display : grid; 
   /* border : 2px solid red */
   box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.721);
   border-radius: 5px;
   transition : 250ms transform 50ms ease-in-out;
}

.todo > div{
    display : flex;
    align-items : center;
    gap : 2rem;
    padding : 0.5rem 1rem;
    justify-content  : space-between;
   
  
}
.todo > div:first-child{
    justify-content  : space-between
}

.project{
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap : 1rem;

}

.todo:hover{
    transform : scale(0.9);
}
input[type="checkbox"]{
    border-radius: 5px;
}
input[type="checkbox"]:checked {
    accent-color: #f0dee3; /* Changes the checkbox color */
  }